<!DOCTYPE html>
<html>
  <head>
    <title>Tweet</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <p class="notice"><%#= notice %></p>
    <p id="error"><%= flash[:error] %></p>
    <p id="notice"><%= flash[:notice] %></p>
    <div id="user_nav">
      <% if user_signed_in? %>
        <span class="sign_in">Signed in as <%= current_user.email %>. Not you?</span>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
